### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# NetBeans
nbproject/private/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/usage.statistics.xml
**/.idea/shelf/
**/.idea/httpRequests/
**/.idea/dataSources/
**/.idea/dataSources.local.xml
captures

# common files
*.log


### PROJECT

# node, npm
node_modules/

# built source (pushed into npm)
/dist/
